body{
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
    background-color: rgb(207, 211, 225);
    color: rgb(26, 26, 26);
    font-family: "MyCustomFont", sans-serif; /* Fallback font is sans-serif */
    min-width: 400px;
}

header{
    color: aliceblue;
    margin: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(31, 30, 88);
    z-index: 10;
    height: 80px;

}
#amblem{
    display: flex;
    align-items: center;
    height: 100px;
    top: 8px;
    right: 22px;
    position: relative;
}


#header0{
    text-align: center;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    top: -30px;
    position: relative;
}


header h1{
    text-align: center;
    margin: 0;
    padding: 0;
}
header ul {
    list-style-type: none; 
}

header a li{
    padding: 23px;
    size: 10px 10px;
    display: inline;
    color: white;
    top: 7px;
    position: relative;

}
header a{
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0px;
    
}

.insta1{
    width: 118px;
    height: 118px;
}


#duyuru123{
    background-color: aliceblue;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.kolaj{
    background-color: aliceblue;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.resim{
    height: 400px;
    width: 450px;
    object-fit: cover;
}

.baslik0{
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 2.3em;
    font-weight: bold;

}



.yazı{
    margin-top: 20px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    font-size: 1.6em;
}

span{
    font-weight: bold;
}





a{
    text-decoration: none;
    color: aliceblue;
}


footer{
    color: aliceblue;
    background-color: rgb(31, 30, 88);
    height: 300px;

}

.insta{
    width: 50px;
    height: 50px;
}

.insta0{
    top: 15px;
    position: relative;
    width: 50px;
    height: 50px;
    display: none;
}

#iconlar{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    width: 300px;
    justify-self: center


}


#iletisim0{
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}


#hak{
    margin: 0px;
    padding: 15px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

#credit{
    padding: 5px;
    text-align: center;
    font-size: 1.1sem;
    font-weight: bold;
    border: 2px aliceblue solid;
    width: 330px;
    margin:  0 auto 0 auto;
    border-radius: 20px;
}
#credi{
    text-decoration: underline rgb(61, 76, 150) 2px;



}

#icon0{
    display: none;

}

#tabbt{
    display: none;

}


#tab {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: rgb(31, 30, 88);
  color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  z-index: 8;
  
  transform: translateX(100%); 
  transition: transform 0.3s ease;
}

#tab ul {
    margin-top: 80px;
    list-style-type: none; 
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: left;
    justify-content: left;
    gap: 10px;    
}

#tab a li{
    padding: 15px;
    display: inline-block;
    color: white;
    right: 40px;
    position: relative;
    width: 200px;
}
#tab a{
    width: 100px;
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0px;
    
}
#tab.active {
  transform: translateX(0); /* slide in */
}


@media (max-width: 910px) {
    header h1{
        font-size: 1.7em;
        width: 400px;
        text-align: left;
    }
    header ul {
    display: none;
    
    }
    #icon0{
    display: block;
    
    }
    .yazı{
        margin-top: 20px;
        padding: 8px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 50px;
        font-size: 1.2em;
    }



    #show{
        width: 80%;
        height: 90px;
        margin: 0px;
        padding: 0px;
    }

    #tabbt{
    display: block;

    }
    .insta0{
    display: block;

    }

    #kolaj{
    flex-direction: column;
    
    
    }
    .resim{
    width: 400px;
    height: 400px;
    
    }
}















